@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */


.content-wrapper{
    display: flex;
    /* padding-right: 10%; */
}
.cart-container{
    position: fixed;
    top: 120px;
    right: 100px;
    width: 25%;
    height: 280px;
}